
/* PARA MODIFICAÇÕES NA BARRA DE NAVEGAÇÃO */
.nav-item {
    margin-left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(70, 7, 88);
}
/* ---------------------------------------- */

.container-log {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 700px;
   margin: auto;

    box-sizing: border-box;
    text-shadow: 10%;
    text-decoration-line: none;

}

.container-tela {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 700px;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 15%;

    box-sizing: border-box;
    text-shadow: 10%;
    text-decoration-line: none;

}
/* Corpo padrao para todas as telas */
body {


    background-image:url('./assets/Degradado.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-size: 1380px;
    background-position-x: center;
    background-position-y: 0%;
    background-repeat: no-repeat;


}

testar {
    color: rgb(70, 7, 88);
    
    
}



.menu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 70%;
    text-align: right;

    a {
        color: rgb(70, 7, 88);
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        margin-inline-start: 15px;
    }
}





.texto-sobre button {
    border: 0;
    border-radius: 45%;
    background-color: #9fceba;
    color: #446471;
    font-size: 30px;
}